<h1>If you were a word, what would you mean?</h1>

<h1>Edit Definition : <%= @definition.definition %> </h1>

<form action="/words/<%= @definition.word_id() %>/definitions/<%= @definition.id %>" method="post">
  <input name="_method" type="hidden" value="patch">

  <label for="edit_definiton">Change the definition!</label>
  <input id="edit_definition" name="edit_definition" type="text">

  <button type="submit">Update the definition!</button>
</form>

<form action="/words/<%= @definition.word_id() %>/definitions/<%= @definition.id %>" method="post">
  <input name="_method" type="hidden" value="delete">

  <button type="submit">Delete definition</button>
</form>

<p><a href="/words/">Return to word list</a></p>
